*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	
}

body{
	width: 100vw;
	height: 100vh;
	background-image: url("pexels-blaz-erzetic-2426085.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

header h1{
	text-align: center;
	padding: 50px;
	font-size: 55px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: white;
  padding: 60px;
  border-radius: 20px;
  position: relative;
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-top: 50px; /* Adicione margem superior conforme necessário */
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #466CBD;
  font-weight: 2000;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before, .title::after {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
  font-family: Arial, Helvetica, sans-serif;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
  font-family: Arial, Helvetica, sans-serif;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.signin {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.signin a {
  color: royalblue;
  font-family: Arial, Helvetica, sans-serif;
}

.signin a:hover {
  text-decoration: underline royalblue;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
  
}



.form label {
  position: relative
  
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
  
}

.form label .input:focus + span, .form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
  
}

.form label .input:valid + span {
  color: green;
  
}

.form label {
	position: relative;
	margin-bottom: 15px; /* Adiciona um espaço entre os campos */
	margin-left: 19px;
  }
  
  

button {
	font-family: inherit;
	font-size: 18px;
	background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
	color: white;
	padding: 0.8em 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
	margin-top: 40px;
	
  }
  
  button:hover {
	transform: translateY(-3px);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	
  }
  
  button:active {
	transform: scale(0.95);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	
  }
  
  button span {
	display: block;
	margin-left: 0.4em;
	transition: all 0.3s;
	
  }
  
  button svg {
	width: 18px;
	height: 18px;
	fill: white;
	transition: all 0.3s;
	
  }
  
  button .svg-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	margin-right: 0.5em;
	transition: all 0.3s;
	
  }
  
  button:hover .svg-wrapper {
	background-color: rgba(255, 255, 255, 0.5);
	
  }
  
  button:hover svg {
	transform: rotate(45deg);
	
  }
  
  